header {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: relative;
}

header .content {
    position: absolute;
    height: 100%;
    width: 100%;
}

header img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.header-top-part {
    width: 85%;
    height: 70%;
}
.header-bottom-part {
    width: 85%;
    height: 30%;
}
.header-right-side {
    width: 36%;
}

.header-left-side {
    width: 40%;
}

.header-top-part .nav-link {
    font-family: "PP Neue Montreal Mono", serif;
    font-size: 2vmin;
    color: white;
}

.header-bottom-part .nav-link {
    font-family: "PP Neue Montreal Mono", serif;
    font-size: 6vmin;
    color: white;
    letter-spacing: -.5vmin;
    text-transform: uppercase;
}

.nav-link:hover {

    color: white;

}

.nav-link-colored {
    text-transform: uppercase;
    color: #FFDE9F!important;
}

.nav-link-colored:hover {
    color: #FFDE9F!important;
}

.header-localization {
    text-transform: uppercase;
}

.header-localization-rectangle {
    height: 1vmin;
    width: 1vmin;
    background: white;
    border-radius: 10%;
}

.header-nav-link-arrow img{
    margin-top: -4px;
    height: 2.5vmin;
}

.header-title {
    position: absolute;
    top: 27vh;
}

.header-side-title {
    font-family: "Affect_bold", serif;
    font-size: 10vmax;
    color: white;
    //position: absolute;
    //margin-top: 30%;
    line-height: 100%;
}

.header-side-title.left-side {
    margin-left: -1%;
}

.header-side-title.right-side {
    margin-right: -1%;
}

.header-left-side-subtitle {
    font-family: "Affect_bold", serif;
    font-size: 1.25vmax;
    width: 60%;
    color: white;
    text-transform: uppercase;
}

.header-right-side-subtitle {
    font-family: "Affect_light", serif;
    font-size: 1.4vmax;
    font-weight: 300;
    //width: 60%;
    color: white;
    text-transform: uppercase;
    text-align: end;
    letter-spacing: 1vmin;

}