@font-face {
    font-family: 'Affect_bold';
    src: url('../fonts/affect_bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Affect_light';
    src: url('../fonts/affect_light.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'PP Neue Montreal Mono';
    src: url('../fonts/pp-neue-montreal-mono-book.otf');
    font-weight: 500;
}